ul {
  list-style-type: none;
}
li.infoItem {
  margin-bottom: 8px;
}

.container {
  font-family: "Montserrat", sans-serif;
  margin: 64px auto;
}

.row {
  margin: 32px auto;
}

.btn.position {
  margin-left: 8px;
}

/* text decorations*/
.focusTemp {
  font-size: xx-large;
}

.red {
  color: #c60000;
}

.uppercase {
  text-transform: uppercase;
  font-size: 10px;
}

.active {
  color: rgb(33, 37, 41);
  text-decoration: none;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
