.container{
  margin: 32px 0;
  font-family: "Montserrat", sans-serif;
}

/* */
.uppercase{
text-transform: uppercase;
font-size: 10px;
}

/* Section that shows the searched city and weather*/
.currentWrapper{
  padding: 12px 20px;
}

/*Temperature in selected city */
.weatherWrapper{
  display: flex;
  align-items: center;
  
  padding: 24px 0;
}

/* Main temparature*/
.focusTempWrapper{
  display: flex;
  align-items: center;
}

.focusTemp{
  padding-right: 8px;
}
.focusTemp.icon{
  font-size: 60px;
}

.focusTemp.temp{
  font-size: 34px;
  font-weight: 400;
  color: #c60000;
}

/* Extra information about the weather*/
.currentInfoList{
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.feelsLike{
  color: #c60000;
}